@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: roboto, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Bakerville", serif;
}

h1 {
  margin: 0;
  padding: 12px;
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

header {
  background-color: #630;
  text-align: center;
  color: #effe0c;
}

article img.floatright {
  display: block;
  float: right;
  width: 25%;
  min-width: 200px;
  min-height: 150px;
  clear: both;
  margin: 16px;
}

#wrapper {
  padding: 1em;
  max-width: 1000px;
  min-width: 200px;
  margin: 0 auto;
  background-color: #fff;
}

#settings {
  background-color: #eaeaea;
  min-width: 275px;
  max-width: 325px;
  width: 50%;
  position: relative;
  padding: 16px;
  line-height: 32px;
}

#settings input {
  width: 80px;
  position: absolute;
  right: 16px;
  height: 32px;
}

aside {
  width: 200px;
  float: right;
  background-color: #cfc;
  text-align: center;
  margin-left: 2em;
}

aside a {
  display: block;
  border: 1px solid black;
  padding: 6px;
  text-decoration: none;
  color: black;
  border-collapse: collapse;
}

aside a:hover, aside a:active {
  background-color: #bfb;
}

header a:link, header a:hover, header a:active, header a:visited {
  color: inherit;
  text-decoration: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#c {
  border: 1px solid black;
  display: block;
  margin: 12px auto;
}

@media screen and (max-width: 600px) {
  aside {
    float: none;
    margin: 1em auto;
    margin-top: 0;
    width: 100%;
  }

  #settings {
    margin: 0 auto;
  }
}
